<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Feature Tests Suite">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="Unit Tests Suite">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>